.button {
  background: var(--accent-color);
  transition: 0.4s;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}
.button:hover {
  color: var(--accent-color);
  background: var(--light-color);
}
.button:focus {
  color: var(--accent-color);
  background: var(--light-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}
.button a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.decors {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.decor {
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  transform: rotate(-45deg);
}

/* Header */
.header {
  margin-top: 40px;
  width: 100%;
}
.header__container {
  margin: auto 4%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__info a {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.header__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
}
.header__interactive {
  display: flex;
  gap: 1vw;
}
.header__interactive img {
  width: 30px;
  cursor: pointer;
}
.header__item:hover > ul {
  display: block;
  position: absolute;
  background-color: var(--light-color);
}
.header__item:hover > ul :hover .header__list {
  display: block;
  flex-direction: column;
  gap: 5px;
}
.header__item:hover > ul :hover .header__image {
  display: none;
}
.header__item li {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.header__item > ul {
  display: none;
  padding: 15px 15px 15px 15px;
  border: 2px var(--accent-color) solid;
  border-radius: 10px;
}
.header__item > ul > li {
  max-width: 55%;
  display: flex;
  border-bottom: 2px solid rgba(78, 75, 72, 0.2);
}
.header__item > ul > li > p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.header__item > ul::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 30px;
  width: 20px;
  height: 20px;
  background-color: var(--light-color);
  border-top: 2px var(--accent-color) solid;
  border-right: 2px var(--accent-color) solid;
  transform: rotate(-45deg);
}
.header__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}
.header__link P {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.header__link P:hover {
  font-weight: 600;
  color: var(--accent-color);
}
.header__list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__drop {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.menu__burger {
  display: none;
  width: 3%;
  position: relative;
  height: 20px;
  top: 0;
  cursor: pointer;
}
.menu__burger span, .menu__burger::before, .menu__burger::after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 30px;
  height: 3px;
  top: 0;
  right: 0;
  transition: 0.4s;
}
.menu__burger span {
  right: 0;
  top: 8.4px;
}

/* Intro */
.intro__container {
  padding-top: 237px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro__container button {
  margin-top: 40px;
}
.intro__title {
  max-width: 84%;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
}
.intro__text {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  margin-top: 4%;
  text-align: center;
}
.intro__buttons {
  display: flex;
  gap: 40px;
}
.intro__images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.intro__images-1 {
  position: relative;
  left: -80px;
  bottom: 300px;
  max-height: 300px;
  max-width: 40%;
}
.intro__images-2 {
  position: relative;
  bottom: 300px;
  right: -78px;
  max-height: 800px;
  max-width: 50%;
  z-index: -999;
}

.block__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.block__row > button {
  border: 1px solid rgba(20, 20, 20, 0.6);
  background-color: var(--light-color);
  border-radius: 10px;
}
.block__row > button:hover {
  border: 1px solid rgba(20, 20, 20, 0.2);
  background-color: #d6f09a;
}
.block__row > button:hover a {
  color: var(--text-color);
}
.block__row > button a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 7px;
}
.block__row-choice {
  background-color: var(--light-color);
}
.block__row-choice > button {
  display: flex;
  align-items: center;
  border: 1px solid rgba(20, 20, 20, 0.6);
  background-color: var(--light-color);
  transition: 0.9s;
}
.block__row-choice > button a {
  color: var(--text-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px 10px 10px;
  text-transform: none;
}
.block__row-choice > button img {
  margin-right: 10px;
}
.block__row-choice > button:hover a {
  color: var(--text-color);
}
.block__row-choice > button:hover img {
  transform: rotate(90deg);
}
.block__row-location {
  width: 50%;
}
.block__row input {
  border: 1px solid rgba(20, 20, 20, 0.6);
  border-radius: 10px;
  padding: 10px;
}

/* Calculator */
.calculator__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calculator__header {
  position: relative;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.calculator__header li {
  padding: 10px;
  border-radius: 10px;
}
.calculator__header li :hover {
  border: 1px solid var(--accent-color);
}
.calculator__header li a {
  padding: 10px;
  border-radius: 10px;
}
.calculator__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.calculator__footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.calculator__footer-row {
  gap: 20px;
}
.calculator__footer-row > button > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.calculator__footer-row input:nth-child(odd) {
  border: 1px solid rgba(20, 20, 20, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.content__title {
  display: flex;
  justify-content: space-between;
}
.content__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__block p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.price__block input {
  max-width: 140px;
}

.area__block input {
  max-width: 110px;
}

.telephone p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.telephone p:not(:last-child) {
  margin-bottom: 15px;
}

/* Achievement */
.container__achievement {
  margin-top: 18%;
  display: flex;
  justify-content: space-evenly;
}

.achievement__info {
  max-width: 50%;
}
.achievement__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.achievement__decors {
  display: flex;
  justify-content: flex-start;
  margin: 6% 0 8% 0;
}
.achievement__text {
  width: 65%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
.achievements {
  max-width: 50%;
  display: flex;
}
.achievement__colum-1 {
  padding-bottom: 40px;
}
.achievement__colum-2 {
  padding-top: 40px;
}
.achievement__container {
  border: 1px solid #898989;
}
.achievement__container p {
  padding: 20px 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.achievement__container img {
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
}
.achievement__number {
  padding-top: 25px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--accent-color);
}
.achievement__number span {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--accent-color);
}

/* Car */
.car__container {
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.car__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #141414;
  border: 3px solid #DB3138;
  transform: rotate(-45deg);
}
.car__button img {
  transform: rotate(45deg);
}
.car__button:hover {
  cursor: pointer;
}
.car__content {
  max-width: 80%;
  display: flex;
  gap: 5%;
}
.car__block {
  display: inline;
  max-height: 23vw;
}
.car__info {
  position: relative;
  bottom: 40px;
  margin: 0 auto;
  padding: 2% 1%;
  width: 77%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: var(--accent-color);
}

/* Our-advantages */
.our-advantages__container {
  display: flex;
  gap: 10%;
  margin-top: 10%;
}
.our-advantages__colum {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}
.our-advantages__info {
  max-width: 80%;
}
.our-advantages__decors {
  margin: 6vh 0 3vw 0;
}
.our-advantages__block {
  display: flex;
  align-items: center;
}
.our-advantages__title {
  margin-left: 3%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.our-advantages__text {
  margin-top: 5%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
.our-advantages__scroll-bar {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

/* Scroll-bar */
.scroll-bar__text {
  max-width: 70%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.scroll-bar__content {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}

/* Our-services */
.our-services__container {
  margin-top: 18%;
}
.our-services__title {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.our-services__buttons {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  gap: 4%;
}
.our-services__buttons:nth-child(2) {
  background-color: #141414;
}
.our-services__cards {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  gap: 2%;
}
.our-services__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #898989;
}
.our-services__card img {
  margin-top: 60px;
}
.our-services__sub-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.our-services__text {
  max-width: 226px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Card */
.card__button {
  max-width: 93px;
  margin-bottom: 50px;
}
.card__button a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Our-work */
.our-work__container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}
.our-work__title {
  display: flex;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.our-work__decors {
  margin-top: 60px;
  margin-bottom: 80px;
}
.our-work__images {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.our-work__frame {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.our-work__frame img {
  display: inline-block;
  width: 16.49vw;
  min-height: 20vh;
}
.our-work__frame:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.footer {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__user {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.form__placeholder {
  display: block;
  width: 50%;
  padding: 10px 20px;
  border: 1px solid #898989;
}
.form__question {
  max-height: 150px;
  display: flex;
  justify-content: space-between;
}
.form__placeholder-question {
  display: block;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 70%;
  padding: 10px 20px;
}
.form__row {
  margin-top: 2%;
  gap: 14vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__contacts {
  display: flex;
}
.form__contacts a:not(:last-child) {
  margin-right: 30px;
}

.socials-networks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.socials-networks img {
  padding: 10px;
  border: 1px solid #898989;
}

.info__link {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.last-line {
  margin-top: 100px;
  border-top: 1px solid #898989;
}
.last-line__content {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.last-line__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
}
.last-line__nav {
  display: flex;
  gap: 20px;
}
.last-line__nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
}