/* SVG поменять цвет у svg "Group 2" и "Like__Heart"*/

.heart-svg {
    &:hover path {
        fill: var(--accent-color);
    }
}

.graph-svg {
    &:hover path {
        stroke: var(--accent-color);
    }
}

// Исправить

.decor {
    position: absolute;
    bottom: 0;
    &-1 {
        bottom: -15px;
        left: 360px;
        z-index: 1;
    }

    &-2{
        bottom: -1px;
        left: 370px;
        z-index: 2;
    }

    &-3{
        right: 0px;
    }

    &-4{
        left: 0;
    }

    &-5 {
        bottom: -15px;
        left: 220px;
        z-index: 1;
    }

    &-6{
        bottom: -1px;
        left: 230px;
        z-index: 2;
    }

    &-7{
        right: 0px;
    }

    &-8{
        left: 0;
    }

    &-9{
        bottom: -15px;
        right: -13px;
        z-index: 1;
    }

    &-10{
        bottom: -1px;
        right: -3px;
        z-index: 2;
    }

    &-11{
        left: 0;
    }
}

// Content

.content {
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        & p {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

// Block

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & hr {
        border: 1px solid #A4D233;
        filter: blur(3px);
    }

    &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: rgba(164, 210, 51, 0.2);
        border-radius: 10px;

        &-title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        &-text {
            display: flex;
            & span {
                height: 30px;
                color: #FA4616;
            }
        }
    }

}

// Button

.button {
    background: var(--accent-color);
    transition: 0.4s;
    border-radius: 10px;
    border: 2px solid var(--accent-color);

    &:hover {
        color: var(--accent-color);
        background: var(--light-color);
    }

    &:focus {
        color: var(--accent-color);
        background: var(--light-color);
        border-radius: 10px;
        border: 2px solid var(--accent-color);
    }

    & a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        padding: 15px 20px;

        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }

}

/* Header */

.header {
    margin-top: 40px;
    width: 100%;

    &__container {

        margin: auto 4%;
    }

    &__menu {

        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;

        & a {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;

        }

        & p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            opacity: 0.8;
        }
    }

    &__interactive {

        display: flex;
        gap: 1vw;

        & img {
            width: 30px;
            cursor: pointer;
        }
    }

    &__item {
        &:hover {
            &>ul {
                display: block;
                position: absolute;
                background-color: var(--light-color);

                & :hover {
                    & .header__list {
                        display: block;
                        flex-direction: column;
                        gap: 5px;
                    }

                    & .header__image {
                        display: none;
                    }
                }
            }
        }

        & li {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        &>ul {
            display: none;
            padding: 15px 15px 15px 15px;
            border: 2px var(--accent-color) solid;
            border-radius: 10px;

            &>li {
                max-width: 55%;
                display: flex;
                border-bottom: 2px solid rgba(78, 75, 72, 0.2);

                &>p {
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                }
            }

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 30px;
                width: 20px;
                height: 20px;
                background-color: var(--light-color);
                border-top: 2px var(--accent-color) solid;
                border-right: 2px var(--accent-color) solid;
                transform: rotate(-45deg);
            }
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);

        & P {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            &:hover {
                font-weight: 600;
                color: var(--accent-color);
            }
        }
    }

    &__list {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);
    }
}

.menu {
    display: flex;
    justify-content: space-between;

    &__drop {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    &__burger {
        display: none;
        width: 3%;
        position: relative;
        height: 20px;
        top: 0;
        cursor: pointer;

        & span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: var(--text-color);
            width: 30px;
            height: 3px;
            top: 0;
            right: 0;
            transition: 0.4s;
        }

        & span {
            right: 0;
            top: 8.4px;
        }
    }
}

/* Intro */

.intro {

    &__container {
        padding-top: 237px;
        max-height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & button {
            margin-top: 40px;
        }
    }

    &__title {
        max-width: 84%;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;

        margin-top: 4%;

        text-align: center;
    }

    &__buttons {
        display: flex;
        gap: 40px;
    }

    &__images {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;

        &-1 {
            position: relative;
            left: -80px;
            bottom: 300px;
            max-height: 300px;
            max-width: 40%;
        }

        &-2 {
            position: relative;
            bottom: 300px;
            right: -78px;
            max-height: 800px;
            max-width: 50%;
            z-index: -999;
        }
    }


}

.block__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &>button {
        border: 1px solid rgba(20, 20, 20, 0.6);
        background-color: var(--light-color);
        border-radius: 10px;

        &:hover {
            border: 1px solid rgba(20, 20, 20, 0.2);
            background-color: #d6f09a;

            & a {
                color: var(--text-color);
            }
        }

        & a {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            padding: 7px;
        }
    }

    &-choice {
        background-color: var(--light-color);

        &>button {
            display: flex;
            align-items: center;
            border: 1px solid rgba(20, 20, 20, 0.6);
            background-color: var(--light-color);
            transition: 0.9s;

            & a {
                color: var(--text-color);
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 20px 10px 10px;
                text-transform: none;
            }

            & img {
                margin-right: 10px;
                transform: rotate(90deg);
            }

            &:hover {
                & a {
                    color: var(--text-color);
                }

                & img {
                    transform: rotate(0deg);
                }
            }

        }
    }

    &-location {
        width: 50%;
    }

    & input {
        border: 1px solid rgba(20, 20, 20, 0.6);
        border-radius: 10px;
        padding: 10px;
    }

}

/* Calculator */

.calculator {

    &__container {
        display: flex;
        flex-direction: column;

    }

    &__header {
        width: 100%;
        padding-bottom: 30px;


        & li {
            position: relative;
            display: inline;
            width: 100px;
            background-color: var(--light-color);

            & :hover {
                border-left: 2px solid var(--accent-color);
                border-right: 2px solid var(--accent-color);
                border-top: 2px solid var(--accent-color);
                border-bottom: 10px solid var(--light-color);
                padding-bottom: 30px;

                &.calculator__header-dec {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -39px;
                        left: 0;
                        width: 2px;
                        height: 10px;
                        background-color: var(--accent-color);
                    }
                }
            }

            & a {
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        border: 2px var(--accent-color) solid;
        border-radius: 10px;
        gap: 50px;
        background-color: var(--light-color);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        &-row {
            gap: 20px;

            &>button {
                width: 270px;

                &>a {
                    display: flex;
                    gap: 10px;

                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--text-color);
                }
            }

            & input:nth-child(odd) {
                width: 40%;
                border: 1px solid rgba(20, 20, 20, 0.6);
                border-radius: 10px;
                padding: 10px;
            }

        }

    }

}

.price__block {
    & input {
        max-width: 140px;
    }
}

.area__block {
    & input {
        max-width: 110px;
    }
}

// Telephone

.telephone {

    & p {

        font-family: var(--font-family);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: var(--accent-color);

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}


/* Offer */

.offer {

    &__container {
        margin-top: 140px;
    }

    &__title {
        margin-bottom: 50px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        text-transform: uppercase;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

        & p {
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__scrollbar {
        display: flex;
        justify-content: center;

        &>button {
            background-color: var(--light-color);
            border: none;
            align-items: center;
            justify-content: center;
        }

        &-container {
            width: 100%;
        }

        &-main {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
        }

        &-choice {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 360px;
        position: relative;
        border: 1px solid rgba(78, 75, 72, 0.4);
        box-shadow: 0px 0px 20px rgba(64, 64, 64, 0.11);
        border-radius: 10px;


        &s {
            display: flex;
            justify-content: center;
            gap: 70px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 10px;
        }

        & img {
            width: 100%;
        }

        & button {
            margin-top: 10px;
            max-width: 170px;
        }

        &:hover .offer__price-img .heart-svg path {
            fill: var(--accent-color);
        }

        &:hover .offer__price-img .graph-svg path {
            stroke: var(--accent-color);
        }
    }


    &__decor {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: rgba(78, 75, 72, 0.4);
        transition: .3s;

        &:hover {
            width: 15px;
            height: 15px;
            background-color: var(--accent-color);
        }

        &:focus {
            width: 15px;
            height: 15px;
            background-color: var(--accent-color);
        }

        &s {

            height: 20px;
            width: 100%;
            gap: 10px;
            display: flex;
            justify-content: center;
        }

        &-img {
            max-width: 200px;
            border-radius: 10px;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 170px;
            right: 30px;

            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            background-color: rgba(238, 255, 197, 0.8);
        }

    }


    &__price {
        display: flex;
        justify-content: space-between;

        & h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
        }

        &-img {
            display: flex;
            gap: 10px;
        }

        &-sub {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: rgba(20, 20, 20, 0.4);
        }

    }

    &__rent {
        & span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
        }

    }

}

/* Services */

.service {
    &__container {
        margin-top: 150px;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-left: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        /* or 43px */

        text-transform: uppercase;
    }


    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        margin-right: 19px;

        &s {
            display: flex;
            flex-direction: column;
            gap: 80px;

            & .service__block:nth-child(2n) {
                margin-right: 19px;
                margin-left: 19px;
                display: flex;
                flex-direction: row-reverse;

                .service__block-img {

                    & p {
                        position: relative;
                        left: 70px;
                    }

                }
            }
        }

        &-img {
            
            display: flex;

            & p {
                position: relative;
                right: 50px;

                font-style: normal;
                font-weight: 500;
                font-size: 150px;
                line-height: 150%;

                text-transform: uppercase;

                color: rgba(78, 75, 72, 0.2);
            }

            & img {
                max-width: 700px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 35%;
            & h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;

                text-transform: uppercase;
            }

            & p {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
            }

            & a span{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                text-decoration: underline;
            }

        }
        
    }

}

/* Works */

.work {

    &__block {
        gap: 20px;
        max-width: 324px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &s {
            display: flex;
            gap: 53px;
        }

        & button {
            
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }
        
    }

    &__line {
        height: 2px;

        background-color: #4E4B48;
        opacity: 0.2;
    }

    &__decor {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-transform: uppercase;
        color: #4E4B48;
        opacity: 0.2;
    }

    &__block-title {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }

}

/* Startwork */

.startwork {
    &__container {
        margin-top: 150px;
        justify-content: space-between;
        display: flex;

        & img {
            max-width: 40%;
        }
    }

    &__content {
        padding: 70px 50px;
        width: 60%;
        background-color: var(--accent-color);
    }

    

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 120%;
        text-transform: uppercase;
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration: underline;

        &:hover {
            color: #141414;
        }
        &:not(:last-child) {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 44px;
        }
        &s {
            display: flex;
            align-items: flex-end;
            gap: 50px;
            margin: 60px 0px 140px 0px;
        }
    }

    &__text {
        max-width: 550px;
        margin-bottom: 40px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
    }


}

// Form

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__user {
        display: flex;
        justify-content: space-between;
        gap: 2%;
    }

    &__placeholder {
        display: block;
        width: 50%;
        padding: 16px;
        background-color: #DBFF83;
        border-radius: 10px;
    }

    &__question {
        max-height: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__placeholder-question {
        display: block;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 70%;
        padding: 10px 20px;
    }

    &__row {
        margin-top: 2%;
        gap: 30px;
        display: flex;
        align-items: center;
    }

    &__button {
        & a{
            color: var(--accent-color);
        }
        background-color: var(--text-color);
    }

    &__info {
        max-width: 270px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: rgba(20, 20, 20, 0.4);
        & span {
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__contacts {
        display: flex;

        & a:not(:last-child) {
            margin-right: 30px;
        }
    }
}


/* MortgageCalculator */

.MortgageCalculator {

    &__container{
        margin-top: 150px;
    }

    &__header{
        gap: 52px;
        display: flex;
        justify-content: flex-start;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title{
        margin-bottom: 80px;

        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        text-transform: uppercase;
    }

    &__block {
        max-width: 230px;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 10px;
        
        &>button {
            border: 1px solid rgba(20, 20, 20, 0.6);
            background-color: var(--light-color);
            border-radius: 10px;
            
            &:hover {
                border: 1px solid rgba(20, 20, 20, 0.2);
                background-color: #d6f09a;
                
                & a {
                    color: var(--text-color);
                }
            }
            
            & a {
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                padding: 7px;
            }
        }
        
        &-choice {
            background-color: var(--light-color);
            width: 100%;
            
            &>button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                border: 1px solid rgba(20, 20, 20, 0.6);
                background-color: var(--light-color);
                transition: 0.9s;
                
                & a {
                    color: var(--text-color);
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px 10px 10px;
                    text-transform: none;
                }
                
                & img {
                    margin-right: 10px;
                    transform: rotate(90deg);
                }
                
                &:hover {
                    & a {
                        color: var(--text-color);
                    }
                    
                    & img {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    &__main {
        display: flex;
        gap: 100px;
    }

    &__colum1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-block {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 583px;
        }

        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: rgba(20, 20, 20, 0.6);
        }

        &-content {
            display: flex;
            justify-content: space-between;
            position: relative;
            max-width: 583px;
            padding: 16px 15px;
            border: 1px solid rgba(78, 75, 72, 0.6);
            border-radius: 5px;
        }

        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }

        &-bottom {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__colum2 {
        width: 600px;
        position: relative;
        top: -18px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-colum {
            display: flex;
            flex-direction: column;
            gap: 44px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: rgba(20, 20, 20, 0.6);
        }

        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
        }

        &-button {
            & a {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }

        &-info {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

/* Blog */

.blog {
    &__container {
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__colum {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 583px;
        padding-right: 200px;
        border-right:  2px solid var(--accent-color);
    }

    &__colum2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 30%;
        padding: 0px 60px;
        border-right:  2px solid var(--accent-color);
        
        & img {
            max-height: 170px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        /* or 43px */

        text-transform: uppercase;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }

    // &__repost {

    // }

    &__button {
        padding: 10px;
        margin: 4px;
        background: rgba(238, 255, 197, 0.6);
        border: 1px solid rgba(78, 75, 72, 0.2);
        border-radius: 10px;
    }

    &__date {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: rgba(20, 20, 20, 0.6);
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        &:hover {
            text-decoration-line: underline;
            color: #000;
        }
    }
}

/* Our-work */

.our-work {
    &__container {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;
        margin: 0 auto;
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 140%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__decors {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    &__images {
        display: flex;
        align-items: center;
        flex-direction: column
    }

    &__frame {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;

        & img {
            display: inline-block;
            width: 16.49vw;
            min-height: 20vh;
        }
    }

    &__frame:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: flex-end
    }
}

// Footer

.footer {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 140%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}

// Socials-networks

.socials-networks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & img {
        padding: 10px;
        border: 1px solid #898989;
    }
}

// Info__link

.info__link {
    display: flex;
    gap: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

// last-line

.last-line {
    margin-top: 100px;
    border-top: 1px solid #898989;

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }

    &__text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        opacity: 0.5;
    }

    &__nav {
        display: flex;
        gap: 20px;

        & li {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;

            text-align: center;
            letter-spacing: 0.03em;
        }
    }
}